<div class="bg-image"
    style="background-image: url('../../assets/imgs/bg-image.png');
    min-height: 244px; background-size: cover;"
    class="bg-danger">
    <div class="container fluid">
      <div class="row text-center align-items-center p-4">
        <div class="col-md-2 col-sm-12 mb-4">
          <a routerLink="home">
            <img src="../../assets/imgs/PHC_Logo.png" alt="PHC Hi, ThankU Logo" class="rounded">
          </a>
        </div>
        <div class="col-md-8 text-light">
            <h1 class="">Hi, 👋</h1>
            <h1 class="">Thank U!</h1>
        </div>
        <div class="col-md-2 align-self-start text-light">
          <sub>17ª Ed.</sub>
        </div>
      </div>
  <!-- <img src="../../assets/imgs/header.png" class="img-fluid" alt="PHC Hi 👋! Thank You!!"> -->

</div>
