<div class="containerm-5">
  <div class="container-fluid justify-content-center mt-1 mb-5">
  <div class="h1 text-center m-3">Sobre</div>
    <h6 class="text-center m-3">Nosso muito obrigado a toda equipa de training da PHC!</h6>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p class="m-3">Este app foi desenvolvido durante o <a href="https://phcsoftware.com/phc-hitech/" target="_blank">17º PHC Hi, Tech</a>, como uma forma de aprimorar nossos conhecimentos técnicos e devolver um pouco dos valores absorvidos durante essa curta, mas intensa jornada.</p>
      <p class="m-3">Sinta-se a vontade para registar-se e deixar o seu Thank U para quem desejar 😉🙏</p>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <h6 class="text-center m-5">Status do Projeto</h6>
      <p class="m-5">
        Firestore
        Github
      </p>
      <div class="btn">API PHC WEB</div>
    </div>
    <div class="col-5">
      <h6 class="text-center m-5">Github</h6>
      <p class="m-5">falta implementar...
        botão de like,
        metodo de update,
        comentarios aos posts,
        recovery password,
        notificação ao receber thanku,
        metodos para deletar posts,
        metodos para editar posts,
        filtros por nome, search box, etc.
        controle anti-spam
      </p>
    </div>
    <div class="col-1"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p>Dúvidas, críticas, sugestões, entre em contato com a turma de formando do perfil programador do 17º PHC Hi, Tech</p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
</div>
