<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <!-- <div class="justify-content-md-center">
      <div class="navbar-header">
        <a class="navbar-brand ms-4 me-4" href="#" routerLink="/">
          <img alt="PHC Hi! ThankU!" src="...">
        </a>
      </div>
    </div> -->
    <div class="container-fluid">
      <ul class="navbar-nav navbar navbar-expand-lg navbar-light bg-light">
        <li class="nav-item">
            <button routerLink="thanks" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>Thank You 🙏</button>
        </li>

        <li class="nav-item">
            <button routerLink="Cool" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button disabled>Made an Impact 🔥</button>
        </li>

        <li class="nav-item">
          <button routerLink="Cool" routerLinkActive="active"
          class="m-1 btn btn-light btn-outline-danger" Button disabled>Adapt and Grow ✌</button>
      </li>

      <li class="nav-item">
        <button routerLink="Cool" routerLinkActive="active"
        class="m-1 btn btn-light btn-outline-danger" Button disabled>Cool but Pro 😎</button>
    </li>
      </ul>
      <ul class="navbar-nav justify-content-end me-4">
        <li class="nav-item">
          <button routerLink="add" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>
            <i class="bi bi-pencil-square"></i>
            Write</button>
        </li>
        <li class="nav-item">
          <button routerLink="profile" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button disabled>
            <i class="bi bi-person-square"></i></button>
        </li>
    </ul>
  </div>
</nav>
