<nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <div class="container container-fluid">
      <ul class="navbar-nav navbar navbar-expand-lg navbar-light bg-light" id="navBarHomebt">
        <li class="nav-item">
          <button routerLink="home" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>
            <i class="bi bi-houses-fill"></i></button>
        </li>
      </ul>
      <ul class="container container-fluid navbar-nav navbar navbar-expand-lg navbar-light bg-light justify-content-center">
        <li class="nav-item">
            <button routerLink="thanks" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>Thank You 🙏</button>
        </li>

        <li class="nav-item">
            <button routerLink="impact" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>Made an Impact 🔥</button>
        </li>

        <li class="nav-item">
          <button routerLink="adapt" routerLinkActive="active"
          class="m-1 btn btn-light btn-outline-danger" Button>Adapt and Grow ✌</button>
      </li>

      <li class="nav-item">
        <button routerLink="cool" routerLinkActive="active"
        class="m-1 btn btn-light btn-outline-danger" Button>Cool but Pro 😎</button>
    </li>
      </ul>
      <ul class="container container-fluid navbar navbar-nav justify-content-center" id="profileBt">
        <li class="nav-item">
          <button routerLink="add" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>
            <i class="bi bi-pencil-square"></i>
            Escrever</button>
        </li>
        <li class="nav-item">
          <button routerLink="logout" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>
            <i class="bi bi-person-square"></i></button>
        </li>

        <li class="nav-item">
          <button routerLink="sobre" routerLinkActive="active"
            class="m-1 btn btn-light btn-outline-danger" Button>
            <i class="bi bi-info-circle"></i></button>
        </li>


    </ul>
  </div>
</nav>
