<div class="mx-auto">
  <div class="d-flex justify-content-center">
    <div class="min-width-sm max-width-l">
      <div class="min-width-sm max-width-l mb-5 mt-5">
        <div *ngFor="let dataItem of GetThanksList" id={{dataItem.stamp}} class="mb-5">
          <div class="card text-center">
            <div class="card-header">
              {{dataItem.deUtil}} para {{dataItem.paraUtil}}
            </div>
            <div class="card-body">
              <h5 class="card-title"> {{dataItem.tipo}}</h5>
              <p class="card-text">{{dataItem.mensagem}}</p>
            </div>
            <div class="card-footer text-body-secondary">
              <a href="#" class="btn btn-danger">
                <i class="bi bi-heart"></i>
                Like {{dataItem.likes}}</a>
            </div>
          </div>
        </div>
     </div>
    </div>
  </div>
</div>
